<h1>Login</h1>

<div class="container">
    <div id="loginSession">
        <label for="loginUsername">User Name</label>
        <input id="loginUsername" class="form-control" type="text" [(ngModel)]="username" placeholder="Enter Your User Name">
        <br>
        <label for="loginPasword">Password</label>
        <input id="lgoinPassword" class="form-control" type="password" [(ngModel)]="password" placeholder="Enter Your Password">
        <br>
        <button (click)="login()">Login</button>
        <br>
        <h3 style="color: red;">{{prompt}}</h3>
        <br>
        <p>Don't have an account? Please <a routerLink="/registeruser" routerLinkActive="active">SignUp</a>.</p>
    </div>
</div>
