<app-header>  </app-header>
<!-- start flexslider -->
  <div class="flexslider" style="max-height: 550px;background-size:cover">
    <ul class="slides">
      <li>
        <img src="assets/images/slider-img1.jpg" alt="Pizza Image 1">
        <div class="flex-caption">
          <h2 class="slider-title">We make Pizza</h2>
          <h3 class="slider-subtitle">Fresh, clean, and delicious.</h3>
          <p class="slider-description">Praesent tincidunt neque semper elementum gravida. Donec id euismod magna. Ut
            erat ligula, malesuada eu quam a, fringilla auctor augue.</p>
        </div>
      </li>
      <li>
        <img src="assets/images/gallery-img1.jpg" alt="Pizza Image 2">
        <div class="flex-caption">
          <h2 class="slider-title">Freshly Baked Pizza</h2>
          <h3 class="slider-subtitle">Premium Quality, Finest Ingredients</h3>
          <p class="slider-description">Donec id euismod magna. Ut erat ligula, malesuada eu quam a, fringilla auctor
            augue. Praesent tincidunt neque semper elementum gravida.</p>
        </div>
      </li>
    </ul>
  </div>
  <!-- end flexslider -->

  